@mixin displayFlex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#play_now{
  background: rgb(2, 0, 36);
  background: linear-gradient(121deg, rgba(2, 0, 36, 0.9) 0%, rgba(55, 93, 125, 0.9) 0%, rgba(41, 53, 92, 0.7) 26%, rgba(255, 255, 255, 0.7) 100%);

  h1{
    text-align: center;
  }
}

#main_container{
 @include displayFlex;
  width: 100%;

  margin: 0 auto;

}


.container_newest {
  width: 100%;

  display: flex;
  flex-wrap: wrap;

  #newestMovie {

width: 25%;
    #movies_newest {

      ul {


        li {
          list-style: none;

          img {
            width: 50%;
          }
        }

      }

      table {

      font-size: 0.6em;
      width: 1%;
        text-align: center;

      }

    }
  }
}

#page{
  display: flex;
  flex-direction: row;

  a{
    margin: 0 0.2em;
  }
}
